
.hero {
    flex: 1;
    padding: 60px 20px 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #111;
}

.hero p {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    line-height: 1.8;
    font-size: 17px;
    color: #333;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.contenido-nosotros {
    animation: aparecerSuave 1.5s ease-out;
}
/* Imagen centrada */

.Familia-Centro {
    display: block;
    margin: 0 auto 30px auto;
    max-width: 100%;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


/* ================= RESPONSIVE - IMAGEN Y ANIMACION ========================= */

@media (max-width: 1300px) {
    .Familia-Centro {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .Logo {
        margin-bottom: 10px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        padding: 20px;
        font-size: 15px;
    }
}
@keyframes aparecerSuave {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

